{% extends 'lte/stats/base.html' %}
{% load static i18n humanize compress %}

{% block extra_plugin_style %}

  {% include 'lte/_extra-plugin-css.html' %}

{% endblock %}

{% block content %}{% endblock %}

{% block extra_plugin_script %}

  {% include 'lte/_extra-plugin-js.html' %}

{% endblock %}

{% block extra_script %}

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = new google.visualization.DataTable();

    data.addColumn('string', 'Year');
    data.addColumn('number', 'Total population');
    data.addColumn('number', 'Female');
    data.addColumn('number', 'Male');
    data.addRows({{ pop_chart|safe }});

    data.sort({column: 0, desc: false});

    var options = {
      title: '{{ title }} {{ title_page_prefix }}',
      hAxis: { 'title': 'Year'},
      vAxis: { 'title': 'Population'},
      curveType: 'function',
      legend: { position: 'bottom' },
      animation: {
        startup: true,
        duration: 1000,
        easing: 'out',
      },
      height: 400, 
      width: '100%',
    };
    
    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  if (document.getElementById('curve_chart2')) {
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data2 = new google.visualization.DataTable();

      data2.addColumn('string', 'Year');
      data2.addColumn('number', 'Total population');
      data2.addColumn('number', 'Female');
      data2.addColumn('number', 'Male');
      data2.addRows({{ pop_future_chart|safe }});

      data2.sort({column: 0, desc: false});

      var options = {
        title: '{{ title }} {{ title_page_prefix }} in the Future',
        hAxis: { 'title': 'Year'},
        vAxis: { 'title': 'Population'},
        curveType: 'function',
        legend: { position: 'bottom' },
        animation: {
          startup: true,
          duration: 1000,
          easing: 'out',
        },
        height: 400, 
        width: '100%',
      };
      
      var chart2 = new google.visualization.LineChart(document.getElementById('curve_chart2'));

      chart2.draw(data2, options);
    }
  }
</script>

<script>
  $(function () {
    var t = $('#list').DataTable({
      "columnDefs": [{
        "searchable": false,
        "orderable": false,
        "targets": 0
      }],
      "paging": true,
      "pageLength": 10,
      "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "order": [[1, 'desc']],
      "info": true,
      "autoWidth": false,
      "responsive": true,
      "fixedHeader": true,
    });

    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each(function (cell, i) {
            cell.innerHTML = i+1;
        });
    }).draw();
  });
  $(function () {
    var t = $('#list2').DataTable({
      "columnDefs": [{
        "searchable": false,
        "orderable": false,
        "targets": 0
      }],
      "paging": true,
      "pageLength": -1,
      "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "order": [[2, 'desc']],
      "info": true,
      "autoWidth": false,
      "responsive": true,
      "fixedHeader": true,
    });

    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each(function (cell, i) {
            cell.innerHTML = i+1;
        });
    }).draw();
  });  
</script>

{% endblock %}