{% extends 'lte/base.html' %}

{% block content %}{% endblock content %}
{% block source %}
  Source: 
  {% if stats_type == 'gdp' %}
    <a href="{% url 'source-page' %}#gdp">
      World Bank DataBank</a>, World Development Indicators, 2019 (retrieved in September 2020)
  {% elif stats_type == 'pop' %}
  <a href="{% url 'source-page' %}#pop">
    United Nations Department of Economic and Social Affairs</a>, World Population Projection, 2019 (retrieved in September 2020)
  {% elif stats_type == 'covid19' %}
  <a href="{% url 'source-page' %}#covid19">
    Geneva: World Health Organization</a>, WHO coronavirus disease (COVID-19) dashboard, 2020 (retrieved on {{ latest_date }})  
  {% endif %}
{% endblock source %}
