{% load static i18n %}

<!-- small card -->
<div class="callout callout-info">
  <div class="inner">
    <ul>
      <li>
        <a href="{% url 'world-population-detail' %}">
          World population
        </a>
        <ul>
          <li>
            <a href="{% url 'world-population-detail' %}#countries">
              Country populations
            </a>
          </li>
          <li>
            <a href="{% url 'world-population-detail' %}#future">
              World population in the future
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="{% url 'country-population-detail' view.kwargs.country_slug %}">
          {{ title }} population
        </a>
        <ul>
          <li>
            <a href="{% url 'country-population-detail' view.kwargs.country_slug %}#future">
              {{ title }} Population in the future
            </a>
          </li>
          <li>
            <a href="{% url 'country-growth-rate-detail' view.kwargs.country_slug %}">
              {{ title }} Population Growth Rate
            </a>
          </li>
          <li>
            <a href="{% url 'country-median-age-detail' view.kwargs.country_slug %}">
              Median age in {{ title }}
            </a>
          </li>
          <li>
            <a href="{% url 'country-density-detail' view.kwargs.country_slug %}">
              {{ title }} population density (people/km2)
            </a>
          </li>
          <li>
            <a href="{% url 'country-fertility-detail' view.kwargs.country_slug %}">
              {{ title }} fertility rate
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="{% url 'world-gdp-detail' %}">
          World GDP
        </a>
        <ul>
          <li>
            <a href="{% url 'world-gdp-detail' %}#countries">
              Country GDPs
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="{% url 'country-gdp-detail' view.kwargs.country_slug %}">
          {{ title }} GDP
        </a>
        <ul>
          <li>
            <a href="{% url 'country-gdp-detail' view.kwargs.country_slug %}#per-capita">
              {{ title }} GDP per capita
            </a>
          </li>
          <li>
            <a href="{% url 'country-gdp-detail' view.kwargs.country_slug %}#growth">
              {{ title }} GDP growth
            </a>
          </li>
          <li>
            <a href="{% url 'country-gdp-detail' view.kwargs.country_slug %}#table">
              {{ title }} GDP table
            </a>
          </li> 
          <li>
            <a href="{% url 'country-gdp-detail' view.kwargs.country_slug %}#ppp">
              {{ title }} GDP PPP
            </a>
          </li>        
        </ul>
      </li>
      
    </ul>
  </div>
</div>