{% extends 'lte/stats/base-list.html' %}
{% load static i18n humanize imagekit %}

{% block meta_title_page_prefix %}World Population: {% endblock %}
{% block meta_title %}Median Age in the World{% endblock %}

{% block content %}
{% if median_age %}
<h2>
  {{ median_age }} in the 
  <a href="{% url 'world-detail' %}" 
    title="About {{ title }}">
    {{ title }}
  </a>
</h2>
<div class="row">
  <div class="col-sm-6 col-12">
    <div class="card-body">
      <p>{{ description }}</p>
      <table id="list" class="table table-hover dataTable display">
        <caption>Yearly {{ median_age }} in the {{ title }}</caption>
        <thead>
          <tr>
            <th></th>
            <th class="text-right">{% trans 'Year' %}</th>
            <th class="text-right">{{ median_age }}</th>
          </tr>
        </thead>
        <tbody>
          {% for item in population|slice:"::5" %}
          <tr>
            <td></td>
            <td class="text-right">{{ item.year }}</td>
            <td class="text-right">{{ item.median_age|floatformat:1|intcomma }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th class="text-right">{% trans 'Year' %}</th>
            <th class="text-right">{{ median_age }}</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
    
  </div>
  <div class="col-sm-6 col-12">

    {% include 'lte/stats/side-menu-world.html' %}

    <div id="curve_chart" style="height: 400px"></div>
    <div id="curve_chart2" style="height: 400px"></div>

  </div>
</div>


{% else %}
<p>
  There is no population data on {{ title }}. <br>
  Return to <a href="{% url 'world-detail' %}" 
    title="About {{ title }}">
    {{ title }}
  </a> information page.
</p>
{% endif %}
{% endblock content %}

{% block extra_script %}

<script>
  $(function () {
    var t = $('#list').DataTable({
      "columnDefs": [{
        "searchable": false,
        "orderable": false,
        "targets": 0
      }],
      "paging": true,
      "pageLength": -1,
      "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
      "lengthChange": true,
      "searching": false,
      "ordering": true,
      "order": [[1, 'desc']],
      "info": false,
      "autoWidth": false,
      "responsive": true,
      "fixedHeader": true,
    });

    t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each(function (cell, i) {
            cell.innerHTML = i+1;
        });
    }).draw();
  });
</script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable({{ wp_chart_median_age|safe }});

    data.sort({column: 0, desc: false});

    var options = {
      title: '{{ title }} {{ median_age }}',
      hAxis: { 'title': '{{ year_title }}'},
      vAxis: { 'title': '{{ median_age }}'},
      curveType: 'function',
      legend: { position: 'bottom' },
      animation: {
        startup: true,
        duration: 1000,
        easing: 'out',
      },
      height: 400, 
      width: '100%',
    };
    
    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data2 = google.visualization.arrayToDataTable({{ wp_future_chart_median_age|safe }});

    data2.sort({column: 0, desc: false});

    var options = {
      title: '{{ title }} {{ median_age }} Future Projection',
      hAxis: { 'title': '{{ year_title }}'},
      vAxis: { 'title': '{{ median_age }}'},
      curveType: 'function',
      legend: { position: 'bottom' },
      animation: {
        startup: true,
        duration: 1000,
        easing: 'out',
      },
      height: 400, 
      width: '100%',
    };
    
    var chart2 = new google.visualization.LineChart(document.getElementById('curve_chart2'));

    chart2.draw(data2, options);
  }
</script>

{% endblock %}