{% extends 'lte/stats/base-list.html' %}
{% load static i18n humanize imagekit %}

{% block content %}
<a name="yearly"></a>
<h2>Yearly Population of the 
  <a href="{% url 'world-detail' %}" 
    title="About {{ title }}">
    {{ title }}
  </a>
</h2>

<div class="row">

  <div class="col-sm-8 col-12">
    <div id="curve_chart" style="height: 400px"></div>
  </div>

  <div class="col-sm-4 col-12">
    
    {% include 'lte/stats/side-menu-world.html' %}
    
  </div> 
</div>

<div class="card-body mt-3">
  <p>{{ description }}</p>
  <table id="list" class="table table-hover dataTable display">
    <caption>{{ title }} Yearly Population: Female, Male, Density, Fertility Rate, Median Age</caption>
    <thead>
      <tr>
        <th></th>
        <th class="text-right">{% trans 'Year' %}</th>
        <th class="text-right">{% trans 'Total' %}</th>
        <th class="text-right">{% trans 'Female' %}</th>
        <th class="text-right">{% trans 'Male' %}</th>
        <th class="text-right">{% trans 'Growth %' %}</th>
        <th class="text-right">{% trans 'Growth' %}</th>
        <th class="text-right">{% trans 'Total Fertility' %}</th>
        <th class="text-right">{% trans 'Median Age' %}</th>
        <th class="text-right">{% trans 'Density' %} <small> (p/km2)</small></th>
      </tr>
    </thead>
    <tbody>
      {% for item in population %}
      <tr>
        <td></td>
        <td class="text-right">{{ item.year }}</td>
        <td class="text-right" data-order="{{ item.total }}"
          title="{{ item.total|intword }}">
          {{ item.total|intcomma }}</td>
        <td class="text-right" data-order="{{ item.female }}"
          title="{{ item.female|intword }}">
          {{ item.female|intcomma }}</td>
        <td class="text-right" data-order="{{ item.male }}"
          title="{{ item.male|intword }}">
          {{ item.male|intcomma }}</td>
        <td class="text-right" data-order="{{ item.change_rate }}"
          title="{{ item.change_rate|floatformat:2 }}%">
          {{ item.change_rate|floatformat:2 }}
        </td>
        <td class="text-right" data-order="{{ item.change }}"
          title="{{ item.change|intword }}">
          {{ item.change|intcomma }}</td>
        <td class="text-right" data-order="{{ item.fertility_rate }}"
          title="{{ item.fertility_rate|floatformat:1 }} births per woman">
          {{ item.fertility_rate|floatformat:1|intcomma }}</td>
        <td class="text-right" data-order="{{ item.median_age }}"
          title="{{ item.median_age|floatformat:1 }} years">
          {{ item.median_age|floatformat:1|intcomma }}</td>
        <td class="text-right" data-order="{{ item.density }}"
          title="{{ item.density|floatformat:1|intcomma }} people/km2">
          {{ item.density|floatformat:1|intcomma }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th class="text-right">{% trans 'Year' %}</th>
        <th class="text-right">{% trans 'Total' %}</th>
        <th class="text-right">{% trans 'Female' %}</th>
        <th class="text-right">{% trans 'Male' %}</th>
        <th class="text-right">{% trans 'Change %' %}</th>
        <th class="text-right">{% trans 'Change' %}</th>
        <th class="text-right">{% trans 'Fertility Rate' %}</th>
        <th class="text-right">{% trans 'Median Age' %}</th>
        <th class="text-right">{% trans 'Density' %} <small> (p/km2)</small></th>
      </tr>
    </tfoot>
  </table>
</div>


<div class="mt-5">
  <a name="countries"></a>
  <h2>{{ title }} Population by Countries ({{ year }})</h2>

  <div class="card-body">
    <p>{{ description }}</p>
    <table id="list2" class="table table-hover dataTable display">
      <caption>Countries Population: Female, Male, Density, Fertility Rate, Median Age</caption>
      <thead>
        <tr>
          <th></th>
          <th class="text-right">{% trans 'Country' %}</th>
          <th class="text-right">{% trans 'Total' %}</th>
          <th class="text-right">{% trans 'Female' %}</th>
          <th class="text-right">{% trans 'Male' %}</th>
          <th class="text-right">{% trans 'Growth %' %}</th>
          <th class="text-right">{% trans 'Growth' %}</th>
          <th class="text-right">{% trans 'Total Fertility' %}</th>
          <th class="text-right">{% trans 'Median Age' %}</th>
          <th class="text-right">{% trans 'Density' %} <small> (p/km2)</small></th>
        </tr>
      </thead>
      <tbody>
        {% for item in countries_population %}
        <tr>
          <td></td>
          <td class="text-right">
            <a href="{% url 'country-population-detail' item.country.slug %}"
              title="{{ item.country.name }} population">
              {{ item.country.name }}
            </a>
          </td>
          <td class="text-right" data-order="{{ item.total }}"
            title="{{ item.total|intword }}">
            {{ item.total|intcomma }}</td>
          <td class="text-right" data-order="{{ item.female }}"
            title="{{ item.female|intword }}">
            {{ item.female|intcomma }}</td>
          <td class="text-right" data-order="{{ item.male }}"
            title="{{ item.male|intword }}">
            {{ item.male|intcomma }}</td>
          <td class="text-right" data-order="{{ item.change_rate }}"
            title="{{ item.change_rate|floatformat:2 }}%">
            {{ item.change_rate|floatformat:2 }}
          </td>
          <td class="text-right" data-order="{{ item.change }}"
            title="{{ item.change|intword }}">
            {{ item.change|intcomma }}</td>
          <td class="text-right" data-order="{{ item.fertility_rate }}"
            title="{{ item.fertility_rate|floatformat:1 }} births per woman">
            {{ item.fertility_rate|floatformat:1|intcomma }}</td>
          <td class="text-right" data-order="{{ item.median_age }}"
            title="{{ item.median_age|floatformat:1 }} years">
            {{ item.median_age|floatformat:1|intcomma }}</td>
          <td class="text-right" data-order="{{ item.density }}"
            title="{{ item.density|floatformat:1|intcomma }} people/km2">
            {{ item.density|floatformat:1|intcomma }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th class="text-right">{% trans 'Year' %}</th>
          <th class="text-right">{% trans 'Total' %}</th>
          <th class="text-right">{% trans 'Female' %}</th>
          <th class="text-right">{% trans 'Male' %}</th>
          <th class="text-right">{% trans 'Change %' %}</th>
          <th class="text-right">{% trans 'Change' %}</th>
          <th class="text-right">{% trans 'Fertility Rate' %}</th>
          <th class="text-right">{% trans 'Median Age' %}</th>
          <th class="text-right">{% trans 'Density' %} <small> (p/km2)</small></th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.card-body -->
</div>

<div class="col-sm-8 col-12 mt-5">
  <a name="future"></a>
  <h2>{{ title }} Population Future Projection</h2>

  <div id="curve_chart2" style="height: 400px"></div>
</div>
{% endblock content %}

