{% load static i18n %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'home' %}" class="brand-link">
    <img src="{% static 'lte/img/logo.png' %}" alt="Fazla.NET Logo" 
      class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Fazla.NET</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" 
        data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="{% url 'world-detail' %}" class="nav-link">
            <i class="nav-icon fas fa-globe"></i>
            <p>World</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'world-population-detail' %}" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Population</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'world-detail' %}" class="nav-link">
            <i class="nav-icon fas fa-info"></i>
            <p>Info
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'country-area-list' %}" class="nav-link">
                <i class="far fa-map nav-icon d-none d-sm-block"></i>
                <p>Country areas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'phone-code-list' %}" class="nav-link">
                <i class="fas fa-phone-alt nav-icon d-none d-sm-block"></i>
                <p>International phone codes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'country-tld-list' %}" class="nav-link">
                <i class="fas fa-network-wired nav-icon d-none d-sm-block"></i>
                <p>Top level domains (TLDs)</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'country-code-list' %}" class="nav-link">
                <i class="fas fa-code nav-icon d-none d-sm-block"></i>
                <p>Country codes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'driving-side-list' %}" class="nav-link">
                <i class="fas fa-car nav-icon d-none d-sm-block"></i>
                <p>Country driving sides</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>