.info-box .info-box-content {
  flex-wrap: wrap;
}
.info-box .info-box-content a{
  color: white;
}
.info-box .info-box-content a:hover{
  color: #253042;
}

.info-box .info-box-icon a{
  color: white;
}
.info-box .info-box-icon a:hover{
  color: #253042;
}
.callout a:hover {
  color: #253042;
}

.content-header h1 {
  font-size: 2.5rem;
}

h2:after {
  content: "";
  display: block;
  width: 500px;
  padding-top: 10px;
  border-bottom:2px solid #117a8b;
}
a {
  color: #117a8b;
}

/* # datatables */
page-item.active .page-link {
  background-color: #117a8b;
  border-color: #117a8b;
}