{% extends 'lte/info/base-list.html' %}
{% load static i18n humanize imagekit %}

{% block meta_title_page_prefix %}{{ title_page_prefix }}: {% endblock %}
{% block meta_title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">

  <div class="col-sm-8 col-12">
    <div class="card-body">
      <p>{{ description }}</p>
      <table id="list" class="table table-hover dataTable display">
        <caption>{{ title }} List</caption>
        <thead>
          <tr>
            <th></th>
            <th>{% trans 'Country' %}</th>
            <th class="text-right">{% trans 'ISO 3166-2' %}</th>
            <th class="text-right">{% trans 'ISO 3166-3' %}</th>
            <th class="text-right">{% trans 'UN Code' %}</th>
            <th class="text-right">{% trans 'FIPS Code' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for item in object_list %}
          <tr>
            <td></td>
            <td>
              <a href="{% url 'country-detail' item.slug %}">
                {{ item.name }}</a> 
            </td>
            <td class="text-right">{{ item.iso2 }}</td>
            <td class="text-right">{{ item.iso3 }}</td>
            <td class="text-right">{{ item.iso_numeric }}</td>
            <td class="text-right">{{ item.fips }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'ISO 3166-2' %}</th>
            <th>{% trans 'ISO 3166-3' %}</th>
            <th>{% trans 'UN Code' %}</th>
            <th>{% trans 'FIPS Code' %}</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>

  <div class="col-sm-4 col-12">
    {% include 'lte/info/side-menu.html' %}
  </div>  

</div>
{% endblock %}
